body{
  background-image: url('Images/Background.jpg');
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  margin: 0;
}
.taskbar{
  display: flex;
  gap: 200px;
  justify-content: center;
  width:auto;
  height:40px;
  background-color: black;
  margin-top:-7px;
  opacity: .8;
  transition: opacity .5s ease-in-out;
}
.taskbar:hover {
  opacity: 1;
}
.taskbar a h3{
  color:white;
  font-size: medium;
}
.Row{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    margin-top: 2%;
}
.Screenshot{
    width:20%;
    height:50%;
}
.placeholder{
    width: auto;
    height: 100px;
}
