body {
  background-image:url('Images/Background.jpg');
  background-size: cover;
  height: 100vh;
  margin: 0;
}

.line{
  width:auto;
  height:500px;
  margin-bottom: 50px;
  background-color: rgb(32, 134, 182);
}
h2{
  font-size: 50px;
  font-family: "Caprasimo", serif;
  font-weight: 400;
  font-style: normal;
}
.taskbar{
  display: flex;
  gap: 200px;
  justify-content: center;
  width:auto;
  height:40px;
  background-color: black;
  margin-top:-7px;
  opacity: .8;
  transition: opacity .5s ease-in-out;
}
.taskbar:hover {
  opacity: 1;
}
.taskbar a h3{
  color:white;
  font-size: medium;
}
h1{
  color: white;
  font-size: 50px;
}
.on{
  color:rgb(112, 112, 112);
  font-size: medium;
}
.title{
  display: flex;
  justify-content: center;
  align-items: center;
}
.placeholder{
  width: auto;
  height: 80px;
}
.Card{
  background-color:rgb(255, 255, 255, .5);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 90%;
  border-radius: 10px;
}
.Whole{
  display: flex;
  justify-content: center;
  align-items: center;
}
